# MacOS
.DS_Store

# Xmake cache
/.xmake/
/build/

# Binaries
/*.so
/*.a
/*.o
/*.release
/*.debug
/main
/game

# Scripts
/run.sh

# Directories
/entity/
/docs/

# Editors & LSP
/.zed/
/.vscode/
/compile_commands.json
